PORT=5000

MONGO_URI=mongodb://pizzacraft:pizza1234@ac-7pz54to-shard-00-00.obl4x4e.mongodb.net:27017,ac-7pz54to-shard-00-01.obl4x4e.mongodb.net:27017,ac-7pz54to-shard-00-02.obl4x4e.mongodb.net:27017/?ssl=true&replicaSet=atlas-9jsvmq-shard-0&authSource=admin&appName=Cluster0

JWT_SECRET=your_super_secret_jwt_key
